body {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/esenario.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    touch-action: none; /* Bloquea gestos del navegador para que el juego fluya */
}

.hud-sidebar {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 10;
}

.hud-item {
    background: rgba(0, 0, 0, 0.85);
    border: 3px solid;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.level-badge { border-color: #ff0073; color: #ff0073; }
.timer-badge { border-color: #0095ff; color: #0095ff; }
.score-badge { border-color: #ff0000; color: #ff0000; }

.hud-label { font-size: 0.55rem; font-weight: bold; }
.hud-value { font-size: 1.2rem; font-family: 'Arial Black', sans-serif; }

.glass-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    width: 92%;
    max-width: 480px;
    margin-left: 120px;
}

#game-canvas {
    background: #333;
    border-radius: 15px;
    width: 100%;
    height: 50vh;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

/* RESPONSIVIDAD PARA CELULAR */
@media (max-width: 768px) {
    .hud-sidebar {
        flex-direction: row;
        top: 65px; /* Bajamos un poco para que no pegue con la URL */
        left: 0;
        width: 100%;
        justify-content: center;
        gap: 10px;
        transform: none;
    }
    .hud-item {
        width: 75px; /* Círculos más pequeños en móvil */
        height: 75px;
    }
    .hud-value { font-size: 1rem; }
    .glass-card { 
        margin-left: 0; 
        margin-top: 60px; /* Espacio para que el HUD no tape el botón */
    }
    #game-canvas {
        height: 45vh;
    }
}